numpy
pandas
networkx
matplotlib
seaborn
jupyter
ipywidgets
python-dotenv 

faiss-cpu 
bitsandbytes 

langchain 
langchain_community 
langchain-chroma 
langchain_huggingface 
langchain_openai
langchain-neo4j

llama_index

neo4j
graphdatascience

datasets 
huggingface_hub
sentence_transformers 
openai 
chromadb
tiktoken 
gradio 

ragas 