numpy
pandas
networkx
matplotlib
seaborn

faiss-cpu 
bitsandbytes 

langchain 
langchain_community 
langchain-chroma 
langchain_huggingface 
langchain_openai
llama_index

neo4j

datasets 
huggingface_hub
sentence_transformers 
openai 

ragas 